@charset "utf-8";
/* CSS Document */
#body{
	width:1200px;
	height:1080px;
}
#pages{
	position:relative;
	/*border:1px solid #0044FF;*/
	width:100%;;
}
#commu_Mian{
	width:1200px;
	height:249px;
}

#text_mom{
	/*border:1px solid #000000;*/
	position:relative;
	width:100%;
    height:22px;
	padding-bottom:33px;
}
#text_inline{
	position:relative;
	left:305px;
	padding:6px;
}
#text_inline li{
	float:left;
	padding-right:8px;
}
#left_page{
	position:absolute;
	/*border:1px solid #FF0004;*/
	width:305px;
}
#left_page:after{
	content:"";
	display:block;
	clear:both;
}
/* 5개 버튼 시작 */
#side_menus{
	position:absolute;
	width:240px;
	height:174px;
	margin-left:35px;
}
#side_ul{
	height:36px;
	width:240px;
	clear:both;
}
#side_ul>li{
	position:relative;
	/*border:1px solid #686868;*/
	/*border-bottom:1px solid #000000;*/
	width:100%;
	height:36px;
	background:url(../images/community/left_ho.png);
}
#side_ul li:nth-child(1){
	background:url(../images/community/left_box.png);
}
li.hover_box{
	cursor:pointer;
}
#side_ul>li img{
	position:absolute;
}
#side_ul>li>a>img{
	padding:10px 0 5px 35px;
}
.side{
	position:relative;
}
.side>img{
	position:absolute;
	left:224px;
	top:12px;
}
#reclick{
	position:absolute;
	left:220px;
}
/*5개 버튼 끝*/
/*실시간 예약, 전화번호 시작*/
#side_botton{
	display:block;
	position:relative;
	top:85px;
	width:188px;
	left:63px;
}
#side_botton li{
	padding-bottom:33px;
}
/*실시간 예약, 전화번호 끝*/
li.hover_box{
	cursor:pointer;
}

#top_text{
	position:relative;
	width:100%;
	/*border:1px solid #000000;*/
	height:91px;
}
#top_text h2{
	position:absolute;
	width:110px;
	height:29px;
	top:47px;
	left:93px;
}
#top_text p{
	clear:both;
	position:absolute;
	height:1px;
	top:75px;
	left:86px;
}
#right_padge:after{
	content:"";
	display:block;
	clear:both;
}
#right_padge{
	position:relative;
	/*border:1px solid #B100FF;*/
	width:895px;
	float:right;
}
#center_image{
	padding-left:85px;
	margin-top:60px;
	/*top:67px;
	left:125px;*/
	width:835px;
}















