@charset "utf-8";
/* CSS Document */
html, body{height:100%;} /*window 크기*/
.wrap{position:relative; width:100%; height:100%;}
@media only screen and (min-width: 1280px){
/*==============================header===========================*/
.header{position:relative; width:100%; height:75px; border-bottom:2px solid #3d6bbb; z-index:10;}
.head{position:relative; width:1200px; margin:0 auto; height:100%;}
.head form{border:1px solid #000000; height:26px; position:absolute; width:16.666%; right:0; top:25px; border:1px solid #6985c8;}
.head form input{height:20px; position:relative; top:0; width:196px;}
.head form p{position:absolute; width:25px; height:25px; right:0; top:1px; cursor:pointer;}
.head form p img{position:absolute; top:0; right:0; width:100%; height:100%;}
.head ul{width:1200px; margin:0 auto; height:100%;}
.head img{width:205px; height:30px; margin-left:-55px;}
.head ul li{float:left; width:16.666%; margin:25px 0 25px 0;}
.head ul li a{font-weight:600; color:#7b7774;}
.head ul li a:hover{opacity:0.7;}
.menu-icon{display:none;}

.nav-menu{width:100%; position:absolute; top:100%; overflow:hidden; z-index:0;  background:#FFFFFF;  border:1px solid #C3C3C3; display:none;} /*잠시 가려 놓기 메뉴 오픈*/
.nav-menu .menu-box{width:1200px; margin:0 auto; height:240px; position:relative;  transition:all 0.3s ease-out;}
.nav-menu .menu-box ul{position:absolute;}
.nav-menu .menu-box ul li{padding-top:18px;}
.nav-menu .menu-box ul li a{font-weight:500; color:#151515;}
.nav-menu .menu-box ul:nth-child(1){}
.nav-menu .menu-box ul:nth-child(2){left:195px;}
.nav-menu .menu-box ul:nth-child(3){left:600px;}
.nav-menu .menu-box ul:nth-child(4){left:800px;}
.nav-menu ul li:hover{opacity:0.8;}
.all-menu{height:0; z-index:10; overflow:hidden;}
.slide-toggle{display:none;}



.section-box{width:1200px; margin:0 auto;margin-top:40px; position:relative;}
.side-menu{position:absolute; width:13%; padding-top:20px;}
.side-menu p{border-bottom:2px solid #7b7774; padding-bottom:10px; font-size:18px; padding-left:15px;}
.side-menu ul{width:100%; position:relative;}
.side-menu ul li{position:relative; padding:15px 0 15px 10px; border-bottom:1px solid #7b7774; cursor:pointer;}
.side-menu span{position:absolute; right:5px;}
.side-menu a{}
.side-menu img{width:15px;}

.item-sub-menu{position:relative; width:85%; margin-left:15%;}
.i-sub-menu-top{width:100%; position:relative; height:51px; border-bottom:2px solid #7b7774;}
.i-sub-menu-top p{position:absolute; top:10px; left:10px; font-size:20px; font-weight:500;}
.i-sub-menu-top ul{  position:absolute; right:8px; bottom:5px;}
.i-sub-menu-top ul li{float:left; padding:3px;}

.s-top-btn{width:100%; position:relative; margin:20px 0 40px 0;}
.s-top-btn p{padding:10px; font-size:22px; font-weight:500;}
.s-top-btn ul{ position:absolute; top:0; right:0;}
.s-top-btn li{float:left; padding:10px 15px 10px 15px; margin:10px 5px 10px 5px;  border:1px solid #000000; border-radius:3px; font-size:16px; font-weight:500; color:#5f5f5f;}
.s-top-btn li:last-child{background:#d9d9d9;}
.s-top-btn li:hover{opacity:0.6;}

.s-slide-panal{position:relative; width:90%; margin:0 auto; overflow:hidden;  border:1px solid #b5b5b5; box-sizing:border-box; max-width:1000px;}
.s-slide-panal ul{position:relative; top:0; left:-100%; width:300%;}
.s-slide-panal ul li{position:relative; float:left; width:33.333333%;}
.s-slide-panal img{width:100%;}

.i-sub-prev{position:absolute; left:0;  opacity:0.5;}
.i-sub-prev:hover, .i-sub-next:hover{opacity:0.8; border:none;}
.i-sub-next{position:absolute; right:0; opacity:0.5;}
.arrow button{background:transparent; cursor: pointer; top:50%; margin-top:-45px; width:55px; height:90px;}
.s-bottom-text p{padding:10px; width:90%; margin:20px auto; font-size:14px; color:#7b7774;}
.s-m-btn{display:none;}




/*=========================footer==========================*/
footer{width:100%; height:190px;  background:#3b3e43; margin-top:5%;}/*footer 잠시 가리기*/
.footer{width:1200px; height:100%; margin:0 auto; position:relative;}
.footer-top{width:100%; height:60%;}
.f-logo{ position:absolute; top:35px;}
.f-logo img{width:210px; height:35px;}

.f-address{margin-left:250px; padding-top:1em;}
.f-address div{position:relative;}
.f-address div:last-child{padding-top:.5em;}
.f-address span{position:absolute; left:-23px;}
.f-address p{color:#87888d; font-weight:600; font-size:0.8em;}
.f-address img{width:19px; height:19px;}
.m-address{display:none;}
.m-bottom{display:none;}
.f-bottom{height:40%;}
.footer pre{color:#87888d; font-weight:600; font-size:0.8em; padding-top:1em; border-top:1px solid #87888d;}
}

@media only screen and (min-width: 768px) and (max-width: 1280px){
 	/*==============================header===========================*/
.header{position:relative; width:100%; height:50px; z-index:10;}
.head{position:relative; width:100%; margin:0 auto; height:100%;  border-bottom:2px solid #3d6bbb;}
.head form{border:1px solid #000000; height:22px; position:absolute; width:20%; right:10px; top:13px; border:1px solid #6985c8; overflow:hidden;}
.head form input{height:20px; position:relative; top:0; width:100%;}
.head form p{position:absolute; width:22px; height:22px; right:5px; top:1px; cursor:pointer;}
.head form p img{position:absolute; top:0; right:-5px; width:100%; height:100%;}
.head ul{width:100%; margin:0 auto; height:100%;}
.head img{height:30px;}
.head li:nth-child(1){display:none;}
.head li:nth-child(2){display:none;}
.head li:nth-child(3){}
.head li:nth-child(4){display:none;}
.head li:nth-child(5){display:none;}
.logo{position:absolute; display:block; top:12px; left:2px;}
.logo img{width:180px; height:25px;}
.head ul li a{font-weight:600; color:#7b7774;}
.head ul li a:hover{opacity:0.7;}
.menu-icon{position:absolute; top:0; left:60%;}
.menu-icon img{width:26px; height:18px; position:absolute; top:15px; margin-left:10px;}
.menu-icon p{padding-top:16px; margin-left:46px; font-size:14px; color:#7b7774;}

.nav-menu{display:none;}
.nav-menu{height:0; z-index:10; overflow:hidden;}
.all-menu{position:relative; width:100%; background:#FFFFFF;}
.all-menu>ul{width:100%; position:relative;}
.all-menu>ul>li{width:50%; padding:10px 0 10px 10px; font-size:14px; cursor:pointer; text-align:center; box-sizing:border-box;}
.all-menu>ul>li:hover{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.all-menu .on{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.all-menu>ul>li>ul{position:absolute; margin-left:50%; left:0; top:0; width:50%; box-sizing:border-box; height:146px; cursor:default;}
.all-menu>ul>li>ul>li{padding:4px 0 4px 5px; box-sizing:border-box; text-align:center; cursor:pointer;}
.p-first li{position:relative; top:72px;}
.p-last li{position:relative; top:108px;}
.all-menu>ul>li>ul>li:hover{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.slide-toggle{width:100%; height:146px; border-bottom:2px solid #3d6bbb;}



.section-box{width:100%; margin:0 auto;  position:relative;}
.side-menu{display:none;}
.item-sub-menu{position:relative; width:100%; margin-top:40px;}
.i-sub-menu-top{width:100%; position:relative; height:51px; border-bottom:2px solid #7b7774;}
.i-sub-menu-top p{position:absolute; top:10px; left:10px; font-size:20px; font-weight:500;}
.i-sub-menu-top ul{  position:absolute; right:8px; bottom:5px;}
.i-sub-menu-top ul li{float:left; padding:3px;}

.s-top-btn{width:100%; position:relative; margin:20px 0 40px 0;}
.s-top-btn p{padding:10px; font-size:20px; font-weight:500;}
.s-top-btn ul{ position:absolute; top:0; right:0;}
.s-top-btn li{float:left; padding:8px 12px 8px 12px; margin:10px 5px 10px 5px;  border:1px solid #000000; border-radius:3px; font-size:14px; font-weight:500; color:#5f5f5f;}
.s-top-btn li:last-child{background:#d9d9d9;}
.s-top-btn li:hover{opacity:0.6;}

.s-slide-panal{position:relative; width:90%; margin:0 auto; overflow:hidden;  border:1px solid #b5b5b5; box-sizing:border-box; max-width:1000px;}
.s-slide-panal ul{position:relative; top:0; left:-100%; width:300%;}
.s-slide-panal ul li{position:relative; float:left; width:33.333333%;}
.s-slide-panal img{width:100%;}

.i-sub-prev{position:absolute; left:0;  opacity:0.5;}
.i-sub-prev:hover, .i-sub-next:hover{opacity:0.8; border:none;}
.i-sub-next{position:absolute; right:0; opacity:0.5;}
.arrow button{background:transparent; cursor: pointer; top:50%; margin-top:-45px; width:55px; height:90px;}
.s-bottom-text p{padding:10px; width:90%; margin:20px auto; font-size:14px; color:#7b7774;}
.s-m-btn{display:none;}




/*=========================footer==========================*/
footer{width:100%; height:140px;  background:#3b3e43; margin-top:5%;}/*footer 잠시 가리기*/
.footer{width:100%; height:100%; margin:0 auto; position:relative;}
.footer-top{width:100%; height:60%;}
.f-logo{ position:absolute; top:28px; left:10px;}
.f-logo img{width:150px; height:28px;}

.f-address{margin-left:220px; padding-top:1em;}
.f-address div{position:relative;}
.f-address div:last-child{padding-top:.5em;}
.f-address span{position:absolute; left:-23px;}
.f-address p{color:#87888d; font-weight:600; font-size:0.6em;}
.f-address img{width:19px; height:19px;}
.m-address{display:none;}
.m-bottom{display:none;}
.f-bottom{height:40%;}
.footer pre{color:#87888d; font-weight:600; font-size:0.6em; padding-top:10px; padding-left:10px; border-top:1px solid #87888d;}	
}
@media only screen and (max-width: 767px) and (min-width: 640px){
 	/*==============================header===========================*/
.header{position:relative; width:100%; height:50px; z-index:10;}
.head{position:relative; width:100%; margin:0 auto; height:100%;  border-bottom:2px solid #3d6bbb;}
.head form{border:1px solid #000000; height:22px; position:absolute; width:20%; right:2px; top:13px; border:1px solid #6985c8; overflow:hidden;}
.head form input{height:20px; position:relative; top:0; width:100%;}
.head form p{position:absolute; width:22px; height:22px; right:5px; top:1px; cursor:pointer;}
.head form p img{position:absolute; top:0; right:-5px; width:100%; height:100%;}
.head ul{width:100%; margin:0 auto; height:100%;}
.head img{height:30px;}
.head li:nth-child(1){display:none;}
.head li:nth-child(2){display:none;}
.head li:nth-child(3){}
.head li:nth-child(4){display:none;}
.head li:nth-child(5){display:none;}
.logo{position:absolute; display:block; top:12px; left:2px;}
.logo img{width:180px; height:25px;}
.head ul li a{font-weight:600; color:#7b7774;}
.head ul li a:hover{opacity:0.7;}
.menu-icon{position:absolute; top:0; left:52%;}
.menu-icon img{width:26px; height:18px; position:absolute; top:15px; margin-left:10px;}
.menu-icon p{padding-top:16px; margin-left:42px; font-size:14px; color:#7b7774;}

.nav-menu{height:0; z-index:10; overflow:hidden;}
.all-menu{position:relative; width:100%; background:#FFFFFF;}
.all-menu>ul{width:100%; position:relative;}
.all-menu>ul>li{width:50%; padding:10px 0 10px 10px; font-size:14px; cursor:pointer;}
.all-menu>ul>li:hover{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.all-menu .on{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.all-menu>ul>li>ul{position:absolute; margin-left:50%; left:0; top:0; width:50%; box-sizing:border-box; height:146px; cursor:default;}
.all-menu>ul>li>ul>li{padding:4px 0 4px 5px; box-sizing:border-box; cursor:pointer;}
.p-first li{position:relative; top:72px;}
.p-last li{position:relative; top:108px;}
.all-menu>ul>li>ul>li:hover{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.slide-toggle{width:100%; height:146px; border-bottom:2px solid #3d6bbb;}



.section-box{width:100%; margin:0 auto;  position:relative;}
.side-menu{display:none;}
.item-sub-menu{position:relative; width:100%; margin-top:40px;}
.i-sub-menu-top{width:100%; position:relative; height:51px; border-bottom:2px solid #7b7774;}
.i-sub-menu-top p{position:absolute; top:10px; left:10px; font-size:22px; font-weight:500;}
.i-sub-menu-top ul{ position:absolute; right:8px; bottom:5px;}
.i-sub-menu-top ul li{float:left; padding:3px;}

.s-top-btn{width:100%; position:relative; margin:10px 0 10px 0;}
.s-top-btn p{padding:10px; font-size:18px; font-weight:500;}
.s-top-btn ul{ position:absolute; top:0; right:0;}
.s-top-btn li{float:left; padding:5px 10px 5px 10px; margin:8px 2px 5px 2px;  border:1px solid #000000; border-radius:3px; font-size:12px; font-weight:500; color:#5f5f5f;}
.s-top-btn li:last-child{background:#d9d9d9;}
.s-top-btn li:hover{opacity:0.6;}

.s-slide-panal{position:relative; width:90%; margin:0 auto; overflow:hidden;  border:1px solid #b5b5b5; box-sizing:border-box; max-width:600px;}
.s-slide-panal ul{position:relative; top:0; left:-100%; width:300%;}
.s-slide-panal ul li{position:relative; float:left; width:33.333333%;}
.s-slide-panal img{width:100%;}

.i-sub-prev{position:absolute; left:0;  opacity:0.5;}
.i-sub-prev:hover, .i-sub-next:hover{opacity:0.8; border:none;}
.i-sub-next{position:absolute; right:0; opacity:0.5;}
.arrow button{background:transparent; cursor: pointer; top:50%; margin-top:-22px; width:35px; height:45px;}
.s-bottom-text p{padding:10px; width:90%; margin:20px auto; font-size:14px; color:#7b7774;}
.s-m-btn{display:none;}


/*=========================footer==========================*/
footer{width:100%; height:120px;  background:#3b3e43; margin-top:5%;}/*footer 잠시 가리기*/
.footer{width:100%; height:100%; margin:0 auto; position:relative;}
.footer-top{width:100%; height:60%;}
.f-logo{ position:absolute; top:18px; left:7px;}
.f-logo img{width:140px; height:23px;}

.f-address{margin-left:180px; padding-top:10px;}
.f-address div{position:relative;}
.f-address div:last-child{padding-top:.5em;}
.f-address span{position:absolute; left:-23px;}
.f-address p{color:#87888d; font-weight:600; font-size:0.6em; letter-spacing:-0.5px;}
.f-address img{width:19px; height:19px;}
.m-address{display:none;}
.m-bottom{display:none;}
.f-bottom{height:40%;}
.footer pre{color:#87888d; font-weight:600; font-size:0.6em; padding-top:10px; padding-left:2px; border-top:1px solid #87888d; letter-spacing:-0.6px;}		
}

@media only screen and (max-width: 640px){
	/*==============================header===========================*/
.header{position:relative; width:100%; height:40px;; z-index:10;}
.head{position:relative; width:100%; margin:0 auto; height:100%;  border-bottom:2px solid #3d6bbb;}
.head form{height:22px; position:absolute; width:20%; right:2px; top:8px; border:1px solid #6985c8; overflow:hidden;}
.head form input{height:20px; position:relative; top:0; width:100%;}
.head form p{position:absolute; width:22px; height:22px; right:5px; top:1px; cursor:pointer;}
.head form p img{position:absolute; top:0; right:-5px; width:100%; height:100%;}
.head ul{width:100%; margin:0 auto; height:100%;}
.head img{height:30px;}
.head li:nth-child(1){display:none;}
.head li:nth-child(2){display:none;}
.head li:nth-child(3){}
.head li:nth-child(4){display:none;}
.head li:nth-child(5){display:none;}
.logo{position:absolute; display:block; top:10px; left:2px;}
.logo img{width:150px; height:20px;}
.head ul li a{font-weight:600; color:#7b7774;}
.head ul li a:hover{opacity:0.7;}
.menu-icon{position:absolute; top:0; left:52%;}
.menu-icon img{width:20px; height:15px; position:absolute; top:12px; margin-left:6px;}
.menu-icon p{padding-top:13px; margin-left:30px; font-size:12px; color:#7b7774;}

.nav-menu{height:0; z-index:10; overflow:hidden;}
.all-menu{position:relative; width:100%; background:#FFFFFF; z-index:15;}
.all-menu>ul{width:100%; position:relative;}
.all-menu>ul>li{width:50%; padding:10px 0 10px 10px; font-size:14px; cursor:pointer;}
.all-menu>ul>li:hover{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.all-menu .on{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.all-menu>ul>li>ul{position:absolute; margin-left:50%; left:0; top:0; width:50%; box-sizing:border-box; height:146px; cursor:default;}
.all-menu>ul>li>ul>li{padding:4px 0 4px 5px; box-sizing:border-box; cursor:pointer;}
.p-first li{position:relative; top:72px;}
.p-last li{position:relative; top:108px;}
.all-menu>ul>li>ul>li:hover{background:#F0F0F0; box-sizing:border-box; opacity:0.7;}
.slide-toggle{width:100%; height:146px; border-bottom:2px solid #3d6bbb;}



.section-box{width:100%; margin:0 auto; position:relative;}
.side-menu{display:none;}
.item-sub-menu{position:relative; width:100%; margin-top:40px;}
.i-sub-menu-top{width:100%; position:relative; height:51px; border-bottom:2px solid #7b7774;}
.i-sub-menu-top p{position:absolute; top:10px; left:10px; font-size:20px; font-weight:500;}
.i-sub-menu-top ul{ position:absolute; right:8px; bottom:5px;}
.i-sub-menu-top ul li{float:left; padding:3px;}

.s-top-btn{width:100%; position:relative; margin:10px 0 10px 0;}
.s-top-btn p{padding:10px; font-size:14px; font-weight:500;}
.s-top-btn ul{ position:absolute; top:0; right:0;}
.s-top-btn ul li:nth-child(1){display:none;}
.s-top-btn ul li:nth-child(2){display:none;}
.s-top-btn li{float:left; padding:5px 10px 5px 10px; margin:8px 15px 5px 2px;  border:1px solid #000000; border-radius:3px; font-size:12px; font-weight:500; color:#5f5f5f;}
.s-top-btn li:last-child{background:#d9d9d9;}
.s-top-btn li:hover{opacity:0.6;}

.s-slide-panal{position:relative; width:90%; margin:0 auto; overflow:hidden;  border:1px solid #b5b5b5; box-sizing:border-box; max-width:400px;}
.s-slide-panal ul{position:relative; top:0; left:-100%; width:300%;}
.s-slide-panal ul li{position:relative; float:left; width:33.333333%;}
.s-slide-panal img{width:100%;}

.i-sub-prev{position:absolute; left:0;  opacity:0.5;}
.i-sub-prev:hover, .i-sub-next:hover{opacity:0.8; border:none;}
.i-sub-next{position:absolute; right:0; opacity:0.5;}
.arrow button{background:transparent; cursor: pointer; top:50%; margin-top:-22px; width:35px; height:45px;}
.s-bottom-text p{padding:10px; width:90%; margin:20px auto; font-size:14px; color:#7b7774;}

.s-m-btn{position:relative; text-align:center; height:70px;}
.s-m-btn ul{position:relative; top:0; right:0;}
.s-m-btn ul li{float:left; border:1px solid #d9d9d9; border-radius:3px; padding:5px; width:40%; margin:15px 15px 15px 15px; cursor:pointer;}
.s-m-btn ul li:last-child{margin-right:0; float:right; position:absolute; right:15px;}
.s-m-btn ul li:hover{opacity:0.6;}


/*=========================footer==========================*/
footer{width:100%; height:80px;  background:#3b3e43; padding-left:2px; margin-top:5%;}/*footer 잠시 가리기*/
.footer{width:100%; height:100%; margin:0 auto; position:relative;}
.footer-top{width:100%; height:60%;}
.f-logo{display:none;}
.f-address{display:none;}
.m-address{padding-top:2px;}
.m-address div{position:relative; margin-bottom:3px;}
.m-address div p:last-child{padding-left:28px;}
.m-address div:last-child{}

.m-address p{color:#87888d; font-weight:600; font-size:0.5em; letter-spacing:-0.5px;}
.m-address img{display:none;}
.f-bottom{display:none;}
.m-bottom{display:block;}
.footer pre{position:absolute; color:#87888d; font-weight:600; font-size:0.5em; bottom:2px; letter-spacing:-0.5px;}
}

























































