@charset "utf-8";
/* CSS Document */
#joinus_box{position:relative; top:90px; width:100%; height:1320px;}
#joinus_center{width:800px; margin:0 auto;}
form h3{padding:10px; font:13px "나눔바른고딕"; font-weight:bold;}
.row>span{color:#FF0004; margin-left:5px;}
.row{background:#F5F5F5; width:150px; font:11px "나눔바른고딕"; border:none; padding:10px 0 10px 0;}
#joinus_01{border:1px solid #EBEBEB;}
input, label, td{font:12px "나눔바른고딕";}
.joinus_01{width:800px; height:30px;}
.joinus_02{width:800px; height:442px; border:1px solid #ebebeb; margin-bottom:20px;}
.text_02{position:relative; margin-top:20px;}
.text_02>p{position:absolute; top:11px; font:10px "나눔바른고딕"; right:2px;}
.text_02>p>span{color:#FF0004; margin-right:5px;}

.joinus_03{border:1px solid #ebebeb; margin-bottom:20px;}
.joinus_04{position:relative; border:1px solid #ebebeb; height:200px; margin-bottom:20px;}
.joinus_04_box{position:absolute; border:1px solid #ebebeb; overflow:scroll; height:155px; width:770px; top:15px; left:12.5px; overflow-x:hidden; font:12px "나눔바른고딕";}
.joinus_04>.check{position:absolute; top:180px; left:10px; font:13px "나눔바른고딕";}

.joinus_05{position:relative; border:2px solid #ebebeb; height:200px; margin-bottom:20px;}
.joinus_05_box{position:absolute; border:1px solid #ebebeb; overflow:scroll; height:155px; width:770px; top:15px; left:12.5px; overflow-x:hidden; font:12px "나눔바른고딕";}
.joinus_05>.check{position:absolute; top:180px; left:10px; font:13px "나눔바른고딕";}

.btn_botton{position:relative; width:100%; text-align:center;}
.btn_botton>a:first-child{padding:5px 20px 5px 20px; font:13px "나눔바른고딕"; color:#FFFFFF; background:#e77f8a; margin-right:3px;}
.btn_botton>a:last-child{padding:5px 20px 5px 20px; font:13px "나눔바른고딕"; color:#FFFFFF; background:#949494;
margin-left:3px;}